{% extends './templates/designer_tmpl.njk' %}

{% block outside_img %}

    {% for item in entrance.outside.images %}
        <img id="{{ item.name }}"
             src=" {{ item.path }} "
             class="left-block__img {% if loop.first %} active {% endif %}"
             alt=" {{ item.name }} ">
    {% endfor %}

{% endblock %}


{% block inside_img %}

    {% for item in entrance.inside.images %}
        <img id="{{ item.name }}"
             src=" {{ item.path }} "
             class="left-block__img {% if loop.first %} active {% endif %}"
             alt=" {{ item.name }} ">
    {% endfor %}

{% endblock %}


{% block sidebar_item_outside %}

    {% for item in entrance.outside.options %}

            <div class="option" data-option-num="{{ item.id }}">
                <div class="option__content">
                    <input id="{{ item.id }}" type="checkbox" class="option__input">
                    <label for="{{ item.id }}" class="option__btn"></label>
                    <div class="option__title">{{ item.title }}</div>
                    <div class="option__price">{{ item.price }}<span>р</span></div>
                    <div class="option__description">{{ item.description }}</div>
                </div>
                <div class="option__pic">
                    <img src="/images/option-bg/{{ item.id }}.jpg" alt="">
                </div>
            </div>

    {% endfor %}

{% endblock %}

{% block sidebar_item_inside %}

    {% set item = entrance.inside.options %}

        <div class="option" data-option-num="{{ item.id }}">
                <div class="option__content">
                    <input id="{{ item.id }}" type="checkbox" class="option__input">
                    <label for="{{ item.id }}" class="option__btn"></label>
                    <div class="option__title">{{ item.title }}</div>
                    <div class="option__price">{{ item.price }}<span>р</span></div>
                    <div class="option__description">{{ item.description }}</div>
                    <div class="option-inside__list">

                        {% for radio in entrance.inside.options.gradient %}
                            <label class="option-inside__item {% if loop.first %} active {% endif %}" style="background: linear-gradient(to bottom, {{ radio.first }} 30%, {{ radio.second }} 30%)">
                                <input class="option__input" type="radio" name="inside_radio" value="{{ radio.value }}" {% if loop.first %}checked{% endif %}>
                            </label>
                        {%  endfor %}

                    </div>
                </div>
            </div>


{% endblock %}