{% extends './templates/main.njk' %}

{% block styleBg %}
    <style type="text/css">
        .main-background{
            background-image: url( {{ backgroundImage.path }} );
        }
    </style>
{% endblock %}
