<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/jquery-3.1.1.slim.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <a href="/" class="arrow-back">←</a>
    <div class="block-crossing">
        <a href="outside" class="btn btn-outside active">снаружи</a><!--
     --><a href="inside" class="btn btn-inside">внутри</a>
    </div>
    <div class="total">
        <div class="total__text">
            Итого <br>
            <span class="total__text_num">0</span>
            <span class="total__text_rub">Р</span>
        </div>
        <a href="#" class="total-order__btn btn">Отправить заявку</a>
    </div>
    <article id="outside" class="page">
        <main class="left-block left-block__outside">

            {% block outside_img %}

            {% endblock %}

        </main><!--чтобы убрать отступпы между блоками
     --><aside class="sidebar">

            {% block sidebar_item_outside %}

            {% endblock %}

        </aside>
    </article>
    <article id="inside" class="page">
        <main class="left-block left-block__inside">

            {% block inside_img %}

            {% endblock %}

        </main><!--чтобы убрать отступпы между блоками
     --><aside class="sidebar">

            {% block sidebar_item_inside %}

            {% endblock %}

        </aside>
    </article>
</div>
<script>
    var state = {{ entrance.state | stringify | safe }};
    var optionsPrice = {{ entrance.price | stringify | safe }};
    var optionsDisableArray = {{ entrance.outside.disable | stringify | safe }}
</script>
<script src="/javascripts/main.js"></script>
</body>
</html>