<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title> {{ title }} </title>
    {% block styleBg %}
    {% endblock %}
</head>
<body>
    <div class="main-background">
        <div class="main-content">
            <div class="content__title">Как создать <br> идеальный вход домой</div>
            <div class="content__text">Вход в наш дом может выглядеть по-разному: <br>
                добавьте к нему надежную входную дверь, удобные
                перила и чистый фасад и тогда возвращаться в свой
                дом станет еще приятнее.</div>
            <a href="/designer" class="content__button btn">ПРОАПГРЕЙДИТЬ ВХОД</a>
        </div>
    </div>
</body>
</html>