*{
    box-sizing: border-box;
}

ul{
    text-decoration: none;
}

html, body, article, .wrapper{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.hidden{
    display: none;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

.wrapper{
    position: relative;
    overflow: hidden;
}

.main-background{
    background: center center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    min-width: 768px;
}

.main-content{
    left: 0;
    bottom: 0;
    color: white;
    position: absolute;
    padding: 0 20px 70px 70px;
    max-width: 700px;
}

.content__title{
    line-height: 50px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content__text{
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 30px;
}

.btn{
    background-color: #0fa9c3;
    text-transform: uppercase;
    color: #fff;
}

.btn:hover{
    background-color: #0fc1dc;
    color: #fff;
}

.content__button{
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    border-radius: 50px;
}

/* --------------------------------------------------------------- */

.left-block{
    height: 100%;
    width: 70%;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.left-block__img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: opacity .8s;
    left: 50%;
    transform: translateX(-50%);
}

.left-block__img.active{
    opacity: 1;
}

.arrow-back{
    display: block;
    vertical-align: middle;
    text-align: center;
    top: 40px;
    left: 50px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 38px;
    color: #fff;
    z-index: 1;
}

.arrow-back:hover{
    background-color: #fff;
    color: #33B1C4;
}

.block-crossing{
    position: absolute;
    top: 40px;
    left: 40%;
    transform: translateX(-50%);
    text-align: center;
    vertical-align: middle;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    opacity: .9;
    overflow: hidden;
    z-index: 1;
}

.btn-outside, .btn-inside{
    width: 50%;
    height: 100%;
    display: inline-block;
    background: #fff;
    color: #33B1C4;
    line-height: 36px;
}

.btn.active{
    background-color: #0fa9c3;
    color: #fff;
}

.sidebar{
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: top;
    overflow-y: scroll;
    position: relative;
}

.option.disabled {
    opacity: .5;
    cursor: auto;
}

.option:hover{
    cursor: pointer;
}

.option:nth-last-child(1){
    margin-bottom: 170px;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

.option__content{
    padding: 30px 15px 15px 12px;
}

.option__input{
    display: none;
}

.option__btn{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    outline: none;
    background-color: transparent;
}

.option__btn:before, .option__btn:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #33B1C4;
}

.option__btn:before {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

.option__btn:after {
    height: 100%;
    width: 2px;
    top: 0;
    left: 50%;
    margin-left: -1px;
}

.option__input:checked + .option__btn:after {
    display: none;
}

.option__input:checked + .option__btn:before {
    height: 50%;
    background-color: transparent;
    border: 2px solid #33B1C4;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    margin-left: 0;
    margin-top: -10px;
}

.option__title{
    display: inline-block;
    font-weight: 700;
    font-size: 23px;
    margin-left: 8px;
    max-width: 225px;
    margin-bottom: 10px;
    vertical-align: top;
    margin-top: -2px;
}

.option__price {
    display: inline-block;
    float: right;
    color: #33B1C4;
    font-size: 20px;
}

.option__description {
    padding-left: 33px;
    font-size: 18px;
}

.option__pic {
    height: 155px;
    position: relative;
    background-color: #34b1c5;
}

.option__pic img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%)
}

.total{
    border-top: 1px solid darkgray;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    background-color: #fff;
    opacity: .95;
    text-align: center;
    padding: 20px;
    z-index: 1;
}

.total__text{
    font-size: 20px;
    margin-bottom: 20px;
}

.total__text_num{
    font-size: 37px;
    font-weight: bold;
}

.total__text_rub{
    font-size: 40px;
    font-weight: bold;
}

.total__paragraph{
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 2px;
}

.total__paragraph__name{
    max-width: 125px;
    float: left;
    font-size: 14px;
    text-align: left;
}

.total__paragraph__cost{
    float: right;
    font-size: 16px;
}

.total-order__btn{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 50px;
    
}


/*----------------------------------------------------------------------*/
.option-inside__list{
    position: relative;
    max-width: 100%;
    margin-left: 33px;
    padding: 20px 20px 0 0;
    text-align: center;
}

.option-inside__item{
    display: inline-block;
    width: 32%;
    min-width: 90px;
    height: 150px;
    background-color: darkslateblue;
}

.option-inside__item.active{
    border: 2px solid #2684e0;
}

.option-inside__item.grad-0{
    background: linear-gradient(to bottom, #1c1a1b 30%, #7e5b48 30%);
}

.option-inside__item.grad-1{
    background: linear-gradient(to bottom, #463b4c 30%, #696971 30%);
}

.option-inside__item.grad-2{
    background: linear-gradient(to bottom, #395c48 30%, #8c8477 30%);
}

.option-inside__item.grad-3{
    background: linear-gradient(to bottom, #5c412c 30%, #8f978c 30%);
}

.option-inside__item.grad-4{
    background: linear-gradient(to bottom, #61665a 30%, #936e5b 30%);
}

.option-inside__item.grad-5{
    background: linear-gradient(to bottom, #805e2e 30%, #746a61 30%);
}




